body {
	text-align: center;
	background-color: #03c6fc;
}
h1 {
	font-size: 3em;
	text-decoration: underline;
}
label {
	font-size: 1.25em;
}
li {
	padding: 10px;
}
input {
	text-align: center;
	width: 75%;
	margin: 10px 0;
	padding: 20px;
	border-style: solid;
	border-radius: 20px 20px 20px 20px;
}
.submit {
	background-color: #dbdbdb;
}
.submit:hover {
	background-color: white;
}

@media only screen and (min-width: 850px){
h1 {
	padding-bottom: 10px;
}
label {
	font-size: 1.75em;
}

input {
	text-align: left;
	width: 50%;
	padding: 25px 50px;
	border-style: dashed;
	border-color: #f4fc03;
	border-width: 5px;
}
.submit {
	border-style: solid;
	border-color: black;
}
}